<nav-pills class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'Galllery List', posts_path %></li>
  <li><%= link_to 'New Post', new_post_path %></li>
</nav-pills>


<p id="notice"><%= notice %></p>

<h1>GALLERY</h1>

<%= link_to new_post_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> New Post
<% end %>

<br><br>
<br><br>



<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>

    <% @posts.each do |post| %>
      <div class="grid-item">
        <span class="has-tooltip" data-toggle="tooltip" title="<%= post.content%>">
        <%= image_tag post.image.url( :small ), class: 'img-rounded has-popover' %>
        </span>
        <p></p>
        <%= link_to 'Show', post, class: 'btn btn-primary btn-xs'%>
        <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-info btn-xs' %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %> 
      </div>
    <% end %>
  </div>
